---
import biblioteca from "../data/biblioteca.json";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Índice por autor de la biblioteca</title>
  </head>
  <body class="bg-gray-100 text-gray-800 font-sans">
    <main class="max-w-5xl mx-auto my-8 p-8 bg-white rounded-lg shadow-md">
      <h1
        class="text-5xl font-bold text-center text-gray-900 border-b-4 border-gray-200 pb-4 mb-8"
      >
        Índice por autor de la biblioteca
      </h1>

      <h2
        class="text-4xl font-semibold text-gray-800 border-b-2 border-gray-200 pb-2 mt-12"
      >
        Autores
      </h2>
      {
        Object.entries(biblioteca.autores).map(([autor, obras]) => (
          <div class="mt-6">
            <h2 class="text-2xl font-semibold text-blue-700">{autor}</h2>
            <ul class="list-none pl-4 mt-2">
              {obras.map((obra) => (
                <li class="mb-2">
                  <a
                    href={`/${obra.ruta}`}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-gray-700 hover:text-blue-600 hover:underline"
                  >
                    {obra.titulo}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }

      <h2
        class="text-4xl font-semibold text-gray-800 border-b-2 border-gray-200 pb-2 mt-12"
      >
        Reveladores
      </h2>
      {
        Object.entries(biblioteca.reveladores).map(([revelador, obras]) => (
          <div class="mt-6">
            <h2 class="text-2xl font-semibold text-purple-700">{revelador}</h2>
            <ul class="list-none pl-4 mt-2">
              {obras.map((obra) => (
                <li class="mb-2">
                  <a
                    href={`/${obra.ruta}`}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-gray-700 hover:text-purple-600 hover:underline"
                  >
                    {obra.titulo}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </main>
  </body>
</html>
